@using Workout_Shop.Models.Entites
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model Plan

@{
    ViewData["Title"] = " Plan Details";
}

<div class="info">
    <div class="left-side">
        <div class="image-container">
            <img src="@Model.ImageURL" width="100%" alt="@Model.Name"></img>
        </div>

        <div class="plan-info">
            <div class="title-name"><h1>@Model.Name</h1></div>
        </div>

        <div class="add-to-cart">
            <a class="btn float-right" asp-controller="Orders" asp-action="AddItemToShoppingCart" asp-route-id="@Model.Id"><i class="bi bi-eye-fill"></i>Add to Cart(Price @Model.Price.ToString("c"))</a>
            <a class="btn float-right" asp-action="Index">
                Back To List
            </a>
        </div>
        
    </div>
    <div class="right-side">
        <div class="text-container"><p>Description: @Model.Description</p></div>
        <div class="plan-info-2">
            <div class="gym-name"><p>@Model.Gyms.Name</p></div>
            <div class="price-tag"><p>@Model.WorkoutCategory</p></div>
        </div>

        <div class="instructor-box">
        @foreach (var instructor in Model.Instructor_Plan)
        {
            <div class="instructor-container">
                <img class="border-info rounded-circle" src="@instructor.Instructor.ProfilePicture" style="max-width: 150px" />
                <br />
                <a asp-controller="Instructors" asp-action="Details" asp-route-id="@instructor.InstructorId">@instructor.Instructor.FullName</a>
            </div>
        }
        </div>
    </div>
</div>








