@using Workout_Shop.Models.Entites
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model IEnumerable<Instructor>

    @{
        ViewData["Title"] = "List of Instructors";
    }

<div>
<h1> 
    Meet the Instructors
</h1>
</div>

<div class="row">
    <div class="col-md-8 offset-md-2">
        <table class="table">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.ProfilePicture)</th>
                    <th>@Html.DisplayNameFor(model => model.FullName)</th>
                    <th>@Html.DisplayNameFor(model => model.Biography)</th>
                    <th>Actions</th>
                </tr>
            </thead>

            <tbody>
                @foreach(var item in Model)
                {
                    <tr>
                        <td class="align-middle">
                            <img class= = "rounded-circle" src="@item.ProfilePicture" alt="@item.FullName" style="max-width: 150px"/>
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.FullName)
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.Biography)
                        </td>
                        <td class="align-middle">
                            <a class="btn btn-outline-info" asp-action="Edit" asp-route-id="@item.Id"><i class="bi bi-eye"></i>Edit</a>
                            <a class="btn btn-outline-info" asp-action="Details" asp-route-id="@item.Id"><i class="bi bi-eye"></i>Details</a>
                            <a class="btn btn-outline-info" asp-action="Delete" asp-route-id="@item.Id"S><i class="bi bi-eye"></i>Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
    
</table>
    </div>
</div>

                        <div style="position : fixed; right: 25px; bottom: 25px" class="text-white">
                            <a asp-controller="Instructors" asp-action="Create" class="btn btn-success"><i class ="bi bi-plus-circle"></i> Add New </a>
                        </div>