@using Workout_Shop.Models.Entites
@using Workout_Shop.Data.Enums
@model IEnumerable<Plan>

@{
    ViewData["Title"] = "Home Page";
}


<h1>Most Popular workouts</h1>

<div class="just-flex">

<div class="container-plan">
<div class="slide">
    
    @foreach (var item in Model.OrderByDescending(i => i.count))
        {
            
        <div class="item" style="background-image: url(@item.ImageURL);">
        <div class="content">
                        <div class="name">@item.Name</div>
                        <div class="name">@item.WorkoutCategory</div>
                        <div class="des">@item.Description</div>
        <button><a asp-controller="Plans" asp-action="Details" asp-route-id="@item.Id" class="card-link">See More </a></button>
        </div>
    </div>
        
       
        }
        
    </div>

    <div class="button">
        <button class="prev"><i class="bi bi-arrow-left"></i></button>
        <button class="next"><i class="bi bi-arrow-right"></i></button>
    </div>
    </div>

    



</div>



@* <div class="layout">
<div>
    
    <div class="workouts-container">
            
        @foreach (var item in Model.OrderByDescending(i => i.count))
        {
            <a asp-controller="Plans" asp-action="Details" asp-route-id="@item.Id" class="card-link">
                <div class="row mb-3 border-primary">
                    <div class="card">
                        <div class="row g-0">
                            <div class="col-md-6">
                                <img src="@item.ImageURL" width="100%" alt="@item.Name" class="card-img">
                            </div>
                            <div class="col-md-6">
                                <div class="card-body">
                                    <p class="card-text"><b>Gym:</b> @item.Name</p>
                                    <p class="card-text"><b>Gym:</b> @item.Gyms.Name</p>
                                    <p class="card-text"><b>Category:</b> @item.WorkoutCategory</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        }
        </div>
</div>

</div>
<div class="layout">
    <div>
    
    <div class="workouts-container">
         
    @foreach (var item in Model.Where(i => i.WorkoutCategory == WorkoutCategory.Cardio))
    {
        <a asp-controller="Plans" asp-action="Details" asp-route-id="@item.Id" class="card-link">
            <div class="row mb-3 border-primary">
                <div class="card">
                    <div class="row g-0">
                        <div class="col-md-6">
                            <img src="@item.ImageURL" width="100%" alt="@item.Name" class="card-img">
                        </div>
                        <div class="col-md-6">
                            <div class="card-body">
                                        <p class="card-text"><b>Gym:</b> @item.Name</p>
                                <p class="card-text"><b>Gym:</b> @item.Gyms.Name</p>
                                <p class="card-text"><b>Category:</b> @item.WorkoutCategory</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    }

</div>
</div>


    <div class="layout">
        <div>
            
            <div class="workouts-container">
               
                @foreach (var item in Model.Where(i => i.WorkoutCategory == WorkoutCategory.Strength))
                {
                    <a asp-controller="Plans" asp-action="Details" asp-route-id="@item.Id" class="card-link">
                        <div class="row mb-3 border-primary">
                            <div class="card">
                                <div class="row g-0">
                                    <div class="col-md-6">
                                        <img src="@item.ImageURL" width="100%" alt="@item.Name" class="card-img">
                                    </div>
                                    <div class="col-md-6">
                                        <div class="card-body">
                                            <p class="card-text"><b>Gym:</b> @item.Name</p>
                                            <p class="card-text"><b>Gym:</b> @item.Gyms.Name</p>
                                            <p class="card-text"><b>Category:</b> @item.WorkoutCategory</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                }

            </div>
        </div>

</div> *@